<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">SonTH</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item main-header__item">
					<a class="nav-link <%= path == '/attendance' ? 'active' : ''%> " href="/">Trang chủ</a>
				</li>
				<li class="nav-item main-header__item">
					<a class="nav-link <%= path == '/staff' ? 'active' : ''%> " href="/staff">Thông tin cá nhân</a>
				</li>
				<li class="nav-item main-header__item">
					<a class="nav-link <%= path == '/salary' ? 'active' : ''%>" href="/salary">Thông tin giờ làm</a>
				</li>
				<li class="nav-item main-header__item">
					<a class="nav-link <%= path == '/covid' ? 'active' : ''%>" href="/covid">Thông tin Covid</a>
				</li>
			</ul>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<% if(!isAuthenticated) { %>
					<li class="nav-item main-header__item">
						<a class="nav-link <%= path == '/login' ? 'active' : ''%>" href="/auth/login">Đăng nhập</a>
					</li>
					<li class="nav-item main-header__item">
						<a class="nav-link <%= path == '/signup' ? 'active' : ''%>" href="/auth/signup">Đăng ký</a>
					</li>
				<% } else { %>
					<li class="nav-item main-header__item">
						<form action="/auth/logout" method="post">
							<input hidden type="text" name="_csrf" value="<%=csrfToken%>">
							<button class="btn btn-primary" type="submit">Đăng xuất</button>
						</form>
					</li>
				<% } %>
			</ul>

		</div>
	</div>
</nav>