<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
        <div class="centered">
            <div class="wrapper">
                <form class="form-control form-manage" action="/manageStaff" method="POST">
                    <label for="choose-staff">Chọn nhân viên</label>
                    <select name="staffId" id="choose-staff">
                        <option value="none">Chọn nhân viên</option>
                        <% staffs.forEach(staff=> { %>
                            <option value="<%=staff._id%>">
                                <%=staff.name%>
                            </option>
                            <%})%>
                    </select>
                    <label for="choose-month">Chọn tháng</label>
                    <select name="month" id="choose-month">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    <button type="submit" class="btn">Chọn</button>
                </form>
            </div>
        </div>
        </div>
        <%- include('../includes/end.ejs') %>