<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <%- include('../includes/checkin-checkout.ejs') %>
        <div class="container">
            <div class="row">
                <h1>Điểm danh</h1>
                <form action="/check-in/start" method="POST">
                    <div class="mt-2">
                        <label for="name">Tên Nhân Viên</label>
                        <input class="form-control" disabled type="text" name="name" value="<%=staff.name%>">
                    </div>
                    <div class="mt-2">
                        <label for="workPlace">Nơi Làm Việc</label>
                        <select class="form-control" name="workPlace" id="workPlace">
                            <option value="company">Công Ty</option>
                            <option value="home">Nhà</option>
                            <option value="customer">Khách Hàng</option>
                        </select>
                    </div>
                    <div class="mt-2 d-grid gap-2 col-6 mx-auto">
                        <input type="hidden" name="mode" value="start">
                        <button type="submit" class="btn btn-primary">Điểm Danh</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

<%- include('../includes/end.ejs') %>