<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <%- include('../includes/checkin-checkout.ejs') %>
        <div class="container">
            <div class="row justify-content-center">
                <div class="card" style="width: 20rem;">
                    <img src="/<%=staff.image%>" class="card-img-top" alt="staffs image">
                    <div class="card-body">
                        <h3 class="card-title"><%=staff.name%></h3>
                        <p class="card-text">
                            Nơi Làm Việc:
                            <%= lastStart.workPlace==='home' ? 'Nhà' : lastStart.workPlace==='company' ? 'Công ty' : 'Khách Hàng' %>
                        </p>
                        <p class="card-text">
                            Giờ bắt đầu:
                            <%= lastStart.startTime.toLocaleString()%>
                        </p>
                    </div> 
                </div>
            </div>
        </div>
    </main>

<%- include('../includes/end.ejs') %>