<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <%- include('../includes/checkin-checkout.ejs') %>
        <div class="container">
            <div class="row">
                <h3>Ngày nghỉ: <%=newsLeaveInfo.dateLeave%></h3>
                <h3>Số giờ nghỉ đã chọn: <%=newsLeaveInfo.hourLeave%></h3>
                <p>Lý do nghỉ: <%=newsLeaveInfo.reasonLeave%></p>
            </div>
        </div>
    </main>

<%- include('../includes/end.ejs') %>