<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container col-8">
            <div class="row ">
                <form action="/staff" method="POST">
                    <div class="mb-3 row">
                        <label for="staffID" class="col-sm-2 col-form-label">ID</label>
                        <div class="col-sm-10">
                            <input disabled type="text" class="form-control" id="staffID" name="staffID" value="<%=staff._id%>">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="name" class="col-sm-2 col-form-label">Họ và tên</label>
                        <div class="col-sm-10">
                            <input disabled type="text" class="form-control" id="name" name="name" value="<%=staff.name%>">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="doB" class="col-sm-2 col-form-label">Ngày sinh</label>
                        <div class="col-sm-10">
                            <input disabled type="text" class="form-control" id="doB" name="doB" value="<%=staff.doB%>">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="salaryScale" class="col-sm-2 col-form-label">Hệ số lương</label>
                        <div class="col-sm-10">
                            <input disabled type="text" class="form-control" id="salaryScale" name="salaryScale" value="<%=staff.salaryScale%>">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="startDate" class="col-sm-2 col-form-label">Ngày bắt đầu vào làm</label>
                        <div class="col-sm-10">
                            <input disabled type="text" class="form-control" id="startDate" name="startDate" value="<%=staff.startDate%>">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="department" class="col-sm-2 col-form-label">Phòng ban</label>
                        <div class="col-sm-10">
                            <input disabled type="text" class="form-control" id="department" name="department" value="<%=staff.department%>">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="annualLeave" class="col-sm-2 col-form-label">Số ngày nghỉ còn lại trong năm</label>
                        <div class="col-sm-10">
                            <input disabled type="text" class="form-control" id="annualLeave" name="annualLeave" value="<%=staff.annualLeave%>">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="image" class="col-sm-2 col-form-label">Ảnh đại diện</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="image" name="image" value="<%=staff.image%>">
                        </div>
                    </div>
                    <div class="mt-1 d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-primary" type="submit">Cập nhật thông tin
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>

<%- include('../includes/end.ejs') %></body>